<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhonebookImportClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPhonebookImportService" openTimeout="00:30" sendTimeout="02:00">
                    <security mode="None" />
                  
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1987/SampleServer" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPhonebookImportService"
                contract="PhobeboookImportService.IPhonebookImportService"
                name="NetTcpBinding_IPhonebookImportService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <PhonebookImportClient.Properties.Settings>
            <setting name="ConfigFileName" serializeAs="String">
                <value>csvfileshistory.cfg</value>
            </setting>
            <setting name="Delimiter" serializeAs="String">
                <value>;</value>
            </setting>
        </PhonebookImportClient.Properties.Settings>
    </applicationSettings>
</configuration>